.left {
    float: left;
}
.right {
    float: right;
}
.column {
    height: 230px;          /*of the container*/
    overflow-y: auto;
    width: 250px;           /*of the container*/
}
.sortable-list {
    background-color: gray;  /*background*/
    list-style: none;
    padding: 12px;
    min-height: 230px;
}
.sortable-item {
    cursor: move;
    display: block;
    font-weight: bold;
    margin-bottom: 15px;    /* between elements */
    text-align: center;
    width: 210px;           /*of the column-gray area*/
}
