/*green*/
.grade-yes {
    background-color: #93e04b;
}
/*red*/
.grade-no {
    background-color: #ed8b8b;
}
/*blue*/
.grade-extra {
    background-color: #A4CED9;
}
/*yellow*/
.grade-nutri {
    background-color: #ffcc00;
}
.calendar_event,.ordinary_points {
    background-color: #F9CC00;
}
.calendar_dates,.extra_milles {
    background-color: #E15F61;
}
.calendar_birthday {
    background-color: #9B55B7;
}