.glyphicon.glyphicon-star,
.glyphicon.glyphicon-star-empty
{
    font-size: 14px;
}
.important_message{
    padding-left: 10px; 
    padding-right: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px;
    color: red;
    background-color: #ebccd1;
}