#addform {
    position: fixed;
    background-color: #505050;
    box-shadow: 3px 3px 3px #636363;
    display: none;
    width: 470px;
    height: 390px;
    border-radius: 5px;
    padding: 20px;
    left: 52%;
    top: 40%;
    margin-left: -200px;
    margin-top: -100px;
    z-index: 1;
    border: 1px solid #e1e1e1;
    opacity: 0.9;
}
.nuevo {
    margin: 10px 0 10px 0;
}
.nuevo_btns {
    text-align: center;
}
#deleteform {
    position: fixed;
    background-color: #505050;
    box-shadow: 3px 3px 3px #636363;
    display: none;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    left: 60%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
    z-index: 1;
    border: 1px solid #e1e1e1;
    opacity: 0.9;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}