.label{
    font-size: 14px;
    background-color: EBEBEB;
    color: purple;
}

.firstLine{
    background-color: #36CED9;
    height: 5px; 
    width: 10%;
}

.secondLine{
    background-color: #9da2a6; 
    height: 1px;
}

#bigContainer{
    background-color: white;
}

.mainImage{
    width: 200px;
    height: 200px;
}

.miniatureImage{
    width: 60px;
    height: 60px;
    display:inline-block;
}

.table{
    font-size: 10px;
}

.internalMenu{
    background-color: #F3F8FB;;
    
}

.pNameUser{
    color: #36CED9;
    font-size: 26px;
    font-weight: bold;
}

.pNick{
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    color: gray;
}

.pPlace{
    font-size: 16px;
    font-weight: bold;
    color: gray;
}

.pSubTitle{
    font-weight: bold;
    color: #36CED9;
    font-size: 16px;
}

.pIndicators{
    font-size: 14px;
}

.pIndicatorsTitle{
    font-size: 10px;
}

label{
    font-size: 10px;
    color: gray;
    font-weight: lighter;
}

.progress {
    position: relative;
    border-radius: 14px;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    font-weight: bold;
 }

.progress-bar-custom1 {
    background: rgba(41, 207, 219, 1);
}

.progress-bar-custom2 {
    background: rgba(116, 171, 228, 1);
}

.progress-bar-custom3 {
    background: rgba(246, 207, 44, 1);
}

.btnStyle, .btnStyle:hover, .btnStyle:after, .btnStyle:active{
    width: 100%;
    background-color: #36CED9;
}

.row {
  width: 100%;
  margin: 0 auto;
}
.block {
  width: 50%;
  float: left;
}