table.scroll {
    width: 100%; 
    border-spacing: 0;
}
table.scroll tbody,
table.scroll thead { 
    display: block; 
}
thead tr th { 
    height: 30px;
}
table.scroll tbody {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
tbody td, thead th {
    width: 400px;
}
tbody td:last-child, thead th:last-child {
    border-right: none;
}