/*container of the bar progress to embeed the text on the bar*/
.progress {
    position: relative;
    border-radius: 14px;
}
.progress-bar-aqua {
    background: rgba(41, 207, 219, 1);
}

.progress-bar-light-blue {
    background: rgba(116, 171, 228, 1);
}

.progress-bar-yellow {
    background: rgba(246, 207, 44, 1);
}
/*leyend text of the bars*/
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: gray;
 }
