/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 8, 2016, 9:24:25 PM
    Author     : leoqu
*/

p[data-value] {
    position: relative; 
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

p[data-value]:after {
    content: attr(data-value) '';
    position: absolute; 
    right:0;
}
.progress-top{
    bottom: 15px;
    font-size: 12px;
}
.progress-bottom{
    bottom: 20px;
    font-size: 10px;
}

.progress {
    border-radius: 4px; 
    height: 10px;
}

.progress-bar-custom {
    background: rgba(143, 63, 176, 1);
}

/*.row {
  width: 100%;
  margin: 0 auto;
    text-align: center;
}*/
/*.blockLeft {
    width: 20px;
    float: left;
    display: inline-block;
    
}
.blockCenter{
    width: calc(100% - 48px);;
    float: left;
    display: inline-block;
    
}
.blockRight{
    width: 20px;
    float: left;
    display: inline-block;
    
}*/

/*.line {
  position: absolute;
    background-color: #000000;
    width: 100%;
    height: 1px;
    top: -25px;
}*/

/*.vertical { 
   width: 1px;
   height: 500px;
}*/

/*.horizontal {

}

#line1 {
   
   left: 50%;
}*/

/*#line2 {
   top: 260px;
   left: 25%;
}

 for added rotation effects 
.forty-five {
   transform: rotate(45deg);
}*/