@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body{
    font-family: 'Roboto', sans-serif;
}
/************************************ menu background **********************************/
.sidenav {
    height: 100%;                           /*height ot the sliding menu*/
    width: 0;                               /*initial width of the menu*/
    position: fixed;
    z-index: 5;                             /*depth*/
    top: 0;
    left: 0;
    background-color: #405777;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;                     /*space between the first icon and the top*/
    text-align:center;
    opacity: 0.9;
}
/************************************ icon menus **********************************/
.sidenav a {
    padding: 8px 8px 8px 32px;  /*top right bottom left - borders of the icons*/
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
    padding-top: 50px;          /*space between a links*/
}
a:link, a:visited, a:active, a:hover{
    color: white;
}
/***************************** top fixed menu - left **************************/
#div_logo {
    top: 8px;
}
#div_logout {
    top: 15px;
    right: 15px;
}
#logo{
    height: 45px;
}
/***************************** top fixed menu - center **************************/
#top {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 10px;
  z-index: 10;
  width: 100%;
  background-color: #16C4BB;
  height: 60px;                                 /*heigth of the menu*/
}
/***************************** top fixed menu - rigth **************************/
#three_bars{
    font-size:30px;
}
#div_three_bars{
    top: 15px; 
    text-align: right; 
    padding-right: 20px;
}
/***************************** notifications menu **************************/
#notifications {
  position: fixed;
  top: 60px;
  left: 0;
  padding-left: 10px;
  z-index: 10;
  width: 100%;
  background-color: whitesmoke;
  height: 40px;                                 /*heigth of the menu*/
  box-shadow: 0px 10px 15px #bebebe;                /*center,bottom,blurred*/
}
/******************************number notifications******************************/
.number-notify{
    background: red;
    color: white;
    position:relative;
    right: 10px;
    z-index: 15;
    font-size:10px;
}
.icon-notify{
    position:relative;
    bottom: 20px;
    right: 15px;
    z-index: 10;
}
.profilePic{
    position:relative; 
    bottom: 20px; 
    right: 10px;
}
/******************************//******************************/
.container_row {
    width: 100%;
    text-align: right;
}
.block {
    width: 50px;
    display: inline-block;
    zoom: 1;
}
/******************************//******************************/
.white-div{
    height:70px;
}
.notify-white-div{
    height:120px;
}

