
/*@media all and (max-device-width: 720px)*/

/*----------------------------- SIZE LETTERS --------------------------------------- */

@media (max-width: 600px) {
    /*body{font-size: 10px;}*/
}

/*h3{
    font-size: 2em;
}
h4{
    font-size: 1.5em;
}
h5{
    font-size: 1em;
}
h6{
    font-size: 0.75em;
}
h7{
    font-size: 0.5em;
}*/

/*.panel-heading{
    font-size: 1.5em;
}*/

/*----------------------------- GLYPHS --------------------------------------- */



/*.label.label-default {
    font-size: 14px;
}*/

/*----------------------------- PROGRESS BAR --------------------------------------- */

/*.bar-empty {
    color: #5e5e5e;
    background-color: transparent;
    border: none;
}*/

/*----------------------------- PHONES --------------------------------------- */

/*
INCH    PIXEL
3       288
4       384
5       480
6       576
*/

/*----------------------------- TABLETS --------------------------------------- */

/*
INCH    PIXEL
7       672
8       768
9       864 
10      960
11      1056
12      1152
*/


