table.scroll {
    width: 100%;
    border-spacing: 0;
}

table.scroll tbody,
table.scroll thead { 
    display: block; 
}

thead tr th { 
    height: 30px;
    line-height: 30px;
}

table.scroll tbody {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td, thead th {
    width: 25%;
    text-align: center;
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}

.table.table-condensed tr th {
   border-bottom: 1px solid white;
}

.table.table-condensed tr td {
   border-bottom: 1px solid white;
}
